<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @generic_payable.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @generic_payable.amount %>
</p>

<%= link_to 'Edit', edit_generic_payable_path(@generic_payable) %> |
<%= link_to 'Back', generic_payables_path %>
