<div class="row">
  <div class="large-12 columns">
    <%= simple_form_for(@featured_event) do |f| %>
      <% if @featured_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@featured_event.errors.count, "error") %> prohibited this featured_event from being saved:</h2>

          <ul>
          <% @featured_event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :image_url %>
        <%= f.file_field :image_url %>
      </div>
      <div class="field">
        <%= f.label :event_url %>
        <%= f.text_field :event_url %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
