<% provide(:title, "Register") %>
<div class="row">
    <div class="large-12 columns">
        <fieldset>
            <div class="large-12 columns">
              <h2>Register</h2>
              <%= simple_form_for(resource, :as => resource_name, :url => register_path) do |f| %>
              <%= f.error_notification %>
            <div class="row">
              <div class="large-4 columns">
                <%= f.input :fname, label: "First Name", placeholder: "John", required: true,  autofocus: true%>
              </div>
              <div class="large-4 pull-4 columns">
                <%= f.input :lname, label: "Last Name", placeholder: "Smith", required: true %>
              </div>
            </div>
            <div class="row">
          <div class="large-4 columns">
            <%= f.input :line1, label: "Street Address", :placeholder => "5810 Almeda-Genoa Rd", required: true %>
          </div>
          <div class="large-3 columns">
            <%= f.input :city, label: "City", :placeholder => "Houston", required: true %>
          </div>
          <div class="large-2 columns">
            <%= f.input :state, label: "State", placeholder: "TX", input_html: { maxlength: 2 }, required: true %>
          </div>
          <div class="large-2 pull-1 columns">
            <%= f.input :zip, label: "Zip", placeholder: "77048", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <%= f.input :phone, as: :tel, placeholder: "7139911557" %>
          </div>
          <div class="large-2 columns">
            <%= f.input :gender, collection: [:Male, :Female], required: true %>
          </div>
          <div class="large-5 columns">
            <%= f.input :birthday, as: :date, start_year: Date.today.year - 13, end_year: Date.today.year - 45, order: [:month, :day, :year], include_blank: true, label: "Birthday", required: true %>
          </div>
          <div class="large-2 columns">
            <%= f.input :shirtsize, label: "Shirt Size", required: true, collection: [:XS, :S, :M, :L, :XL] %>
          </div>
        </div>
            <div class="row">
              <div class="large-4 columns">
                <%= f.input :email, required: true %>
              </div>
              <div class="large-4 columns">
                <%= f.input :password, required: true %>
              </div>
              <div class="large-4 columns">
                <%= f.input :password_confirmation, required: true %>
              </div>
            </div>
            <%= f.button :submit, "Sign up" %>
            <% end %>
            <%= render "devise/shared/links" %>
        </div>
    </fieldset>
  </div>
</div>