<p>Hey, <%= @registration.fname %>!</p>

<p>You've successfully registered for the 2016 One Day Retreat!</p>

<p>Here's what we have on you:</p>
Name: <%= @registration.fname %> <%= @registration.lname %>
<br>
Email: <%= @registration.email %>
<br>
Age: <%= @registration.age %>
<br>
Parish: <%= @registration.parish %>
<br>
Shirt Size: <%= @registration.shirt_size %>
<br>
<% if @registration.diet? %>
  Allergies/Dietary Restrictions: <%= @registration.diet %>
<br>
<% end %>
Payment Method: <%= @registration.payment_method %>
<br>
If there are any errors with the above information, send us an email at hello@tmcyf.org with the corrections!
<br>
<br>
<b>Now that you've registered, all that's left is for you to pay!</b>
<b>You can online, or with cash or check.</b>
<br>
<br>
Yours in Christ,
<br>
TMCYF