<% provide(:title, 'Admin') %>
<div class="row">
  <%= render 'layouts/account_menu' %>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <%= link_to "Advanced Admin Tasks", rails_admin_path %>
      </div>
      <div class="large-12 columns">
        <%= link_to "Create a New Payment", new_payment_path %>
      </div>
      <div class="large-12 columns">
        <%= link_to "Record a Payment Made Offline", new_offline_charge_path %>
      </div>
      <div class="large-12 columns">
        <%= link_to "Edit Payments", edit_payments_index_path %>
      </div>
      <div class="large-12 columns">
        <%= link_to "Create a New Event", new_event_path %>
      </div>
      <div class="large-12 columns">
        <%= link_to "Create a New Featured Event", new_featured_event_path %>
      </div>
      <div class="large-12 columns">
        <%= link_to "Create a SMS", send_sms_path %>
      </div>
      <div class="large-12 columns">
        <%= link_to 'New Sermon', new_sermon_path %>
      </div>
    </div>
  </div>
</div>
