<%= form_tag credit_cards_path, id: "add_credit_card", remote: true %>
<div class="row">
	<div class="large-4 columns">
		<%= text_field_tag :card_number, nil, name: nil, placeholder: "Credit Card Number", :"data-stripe" => "number" %>
	</div>
</div>
<div class="row">
	<div class="large-2 columns">
		<%= text_field_tag :card_code, nil, name: nil, placeholder: "CVV", :"data-stripe" => "cvc" %>
	</div>
</div>
<%= label_tag :card_month, "Card Expiration MM / YYYY" %>
<div class="row">
	<div class="large-3 columns">
		<%= select_month nil, {add_month_numbers: true }, {name: nil, id: "card_month", :"data-stripe" => "exp-month" } %>
	</div>
</div>
<div class="row">
	<div class="large-2 columns">
		<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year", :"data-stripe" => "exp-year" } %>
	</div>
</div>
<%= submit_tag "Save Credit Card", id: "new_credit_card", class: "button btn-pay", remote: true%>
</form>