<% provide(:title, 'Edit password') %>
<div class="row">
  <div class="large-12 columns">
    <fieldset>
      <div class="large-12 columns">
        <h2>Change your password</h2>
        <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :reset_password_token, :as => :hidden %><%= f.full_error :reset_password_token %>
        <div class="row">
          <div class="large-4 columns">
            <%= f.input :password, :label => "New password", :required => true, :autofocus => true %>
          </div>
          <div class="large-4 columns">
            <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.button :submit, "Change my password" %>
          </div>
        </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </fieldset>
  </div>
</div>