<% provide(:title, 'Reset password') %>
<div class="row">
	<div class="large-12 columns">
		<fieldset>
			<div class="large-12 columns">
				<h2>Forgot your password?</h2>
				<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  			<%= f.error_notification %>
  			<div class="row">
  				<div class="large-4 columns">
    				<%= f.input :email, :required => true, :autofocus => true %>
    			</div>
  			</div>
  			<div class="row">
  				<div class="large-4 columns">
  					<%= f.button :submit, "Send me reset password instructions" %>
  				</div>
  			</div>
				<% end %>
				<%= render "devise/shared/links" %>
			</div>
		</fieldset>
	</div>
</div>