<div class="row">
	<div class="large-12 columns">
		<h1><%= @event.title %></h1>
		<p><%= @event.date %></p>
		<p><%= @event.time %></p>
		<p><%= @event.location %></p>
		<p><%= @event.body %></p>

		<%= link_to '<< Back to Events List', events_path %>