<div class="row">
	<div class="large-12 columns">
		<h1><%= @event.title %></h1>
		<p><%= @event.date %></p>
		<p><%= @event.time %></p>
		<p><%= @event.location %></p>
		<p><%= @event.body %></p>
		<%= image_tag @event.image_url.to_s %>

		<%= link_to '<< Back to Events List', events_path %><br>
		<%= link_to "edit", edit_event_path(@event) %>
		<%= link_to "delete", event_path(@event), method: :delete, confirm: "You sure?" %>
	</div>
</div>