<% provide(:title, 'Admin') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
		<div class="row">
			<div class="large-12 columns">
				<%= link_to "Create a New Event", new_event_path, class: "new-event-link" %>
			</div>
			<div class="large-12 columns">
				<%= link_to "Create a SMS", send_sms_path, class: "new-sms-link" %>
			</div>
			<div class="large-12 columns">
				<h5>List of users who prefer Facebook:</h5>
				<% @fbname.each do |fullname| %>
					<li style="list-style: none;"><%= fullname %></li>
				<% end %>
			<hr />
				<h5>List of users who prefer SMS:</h5>
				<% @smsname.each do |fullname| %>
					<li style="list-style: none;"><%= fullname %></li>
				<% end %>
			<hr />
				<h5>List of users who prefer Email:</h5>
				<% @emailname.each do |fullname| %>
					<li style="list-style: none;"><%= fullname %></li>
				<% end %>
			<hr />
				<h5>List of users:</h5>
				<% @allusers.each do |fullname| %>
					<li style="list-style: none;"><%= fullname %></li>
				<% end %>
			</div>
		</div>
	</div>
</div>
