<div class="row">
  <div class="large-12 columns">
    <div>
      <div id="slider" data-orbit data-options="slide_number_class:false; bullets:false;">
        <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/gb.jpg'), 'https://tmcyf.org/events/general-body' %>
        <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/cottageprayer.jpg'), 'https://tmcyf.org/events/cottage-prayer' %>
      </div>
    </div>
  <hr />
  </div>
</div>
<div class="row content-blocks">
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/28day.jpg'), 'http://files.tmcyf.org/pdf/28day.pdf', class: 'large-3 columns' %>
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/donate.jpg'), root_path, class: 'large-3 columns' %>
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/bibleapp.jpg'), 'https://www.bible.com/app', class: 'large-3 columns' %>
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/sub-fb.png'), 'https://facebook.com/tmcyf', class: 'large-3 columns' %>  
</div>
<div class="row">
  <div class="large-6 large-centered columns votd">
    <pre><%= @votd %> <%= @votdref %></pre>
  </div>
</div>