<div class="row">
  <div class="large-12 columns">
      <div>
        <%= link_to(image_tag(@featured_event.image_url.to_s), @featured_event.event_url.to_s) %>
      </div>
  <hr />
  </div>
</div>
<div class="row content-blocks">
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/28day.jpg'), 'http://files.tmcyf.org/pdf/28day.pdf', class: 'large-3 columns' %>
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/donate.jpg'), give_index_path, class: 'large-3 columns' %>
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/bibleapp.jpg'), 'https://www.bible.com/app', class: 'large-3 columns' %>
  <%= link_to image_tag('https://s3-us-west-2.amazonaws.com/files.tmcyf.org/mtcreflection.jpg'), 'http://www.mtcreflection.com/', class: 'large-3 columns' %>
</div>
<div class="row">
  <div class="large-6 large-centered columns votd">
    <pre><%= @votd %> <%= @votdref %></pre>
  </div>
</div>
