<% provide(:title, 'Preferences') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
      <fieldset class="fields">
        <div class="large-12 columns">
          <h2>Contact Preferences</h2>
          <p>Here you can choose how you want to be contacted by the YF. <br>Options include: email, facebook, and text.</p>
          <%= form_tag account_preferences_path, method: "POST" %> 
          <div class="row preference">
            <ul>
              <li>
                <%= label_tag "Facebook", nil, class: 'large-2 columns' %>
                <div class="make-switch switch-small">
                  <%= check_box_tag "Facebook", 'yes', @user.facebook_contact %>
                </div>
              </li>
              <li>
                <%= label_tag "Email", nil, class: 'large-2 columns' %>
                <div class="make-switch switch-small">
                  <%= check_box_tag "email", 1, @user.email_contact %>
                </div>
              </li>
              <li>
                <%= label_tag "SMS", nil, class: 'large-2 columns' %>
                <div class="make-switch switch-small">
                  <%= check_box_tag "SMS", 1, @user.sms_contact %>
                </div>
              </li>
            </ul>
          </div>
          <%= submit_tag "Save", class: 'button' %>
	     </div>
	  </fieldset>
	</div>
</div>
