<% provide(:title, 'Preferences') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
      <fieldset class="fields">
        <div class="large-12 columns">
          <h2>Contact Preferences</h2>
          <p>Here you can choose how you want to be contacted by the YF. <br>Options include: email, facebook, and text.</p>
          <%= form_tag account_preferences_path, method: "POST" %> 
          <%= label_tag "Facebook" %>
          <%= check_box_tag "Facebook", 1, @user.facebook_contact %>
          <%= label_tag "Email" %>
          <%= check_box_tag "email", 1, @user.email_contact %>
          <%= label_tag "SMS" %>
          <%= check_box_tag "SMS", 1, @user.sms_contact %>
          <%= submit_tag %>
	     </div>
	  </fieldset>
	</div>
</div>
