<div class="yf-retreat-form">
  <%= simple_form_for @retreat, url: retreat_index_path do |f| %>
    <div class="row">
      <div class="large-3 columns">
        <%= f.input :fname, label: "First Name", placeholder: "John", required: true %>
      </div>
      <div class="large-4 pull-5 columns">
        <%= f.input :lname, label: "Last Name", placeholder: "Smith", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <%= f.input :email , label: "Email Address", placeholder: "example@tmcyf.org", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <%= f.input :line1, label: "Street Address", placeholder: "5810 Almeda-Genoa Rd", required: true %>
      </div>
      <div class="large-3 columns">
        <%= f.input :city, label: "City", placeholder: "Houston", required: true %>
      </div>
      <div class="large-2 columns">
        <%= f.input :state, label: "State", placeholder: "TX", input_html: { maxlength: 2 }, required: true %>
      </div>
      <div class="large-2 pull-1 columns">
            <%= f.input :zip, label: "Zip", placeholder: "77048", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="large-3 columns">
        <%= f.input :phone, as: :tel, placeholder: "7139911557", required: true %>
      </div>
      <div class="large-2 columns">
        <%= f.input :gender, collection: [:Male, :Female], required: true %>
      </div>
      <div class="large-5 columns pull-2 columns">
        <%= f.input :birthday, as: :date, start_year: Date.today.year - 12, end_year: Date.today.year - 45, order: [:month, :day, :year], include_blank: true, label: "Birthday", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="large-5 columns">
        <%= f.input :shirt_size, label: "Windbreaker Size", collection: ["Small (S)", "Medium (M)", "Large (L)", "X-Large (XL)", "XX-Large (XXL)"], required: true %>
      </div>
    </div>
    <div class="row">
      <div class="large-5 columns">
        <%= f.input :transportation, label: "Do you need transportation to the campsite?", collection: ["Yes", "No"], required: true %>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <%= f.input :emergency_contact , label: "Emergency Contact" %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.input :emergency_contact_relation, label: "Relationship to Emergency Contact", collection: ["Parent", "Sibling", "Other"] %>
      </div>
    </div>
    <div class="row">
      <div class="large-3 columns">
        <%= f.input :emergency_contact_number, label: "Emergency Contact's Number", as: :tel %>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <%= f.input :insurance_provider, label: "Insurance Provider", required: true %>
      </div>
      <div class="large-3 pull-5 columns">
        <%= f.input :insurance_policy_number, label: "Insurance Policy Number" %>
      </div>
    </div>
    <div class="row">
      <div class="large-5 columns">
        <%= f.input :allergy_information, label: "Allergies / Dietary Restrictions", placeholder: "Totally low carb, vegan, gluten free, lead free, organic meals only!!!" %>
      </div>
    </div>
    <div class="row">
      <div class="large-5 columns">
        <%= f.input :payment_method, label: "How will you be paying for retreat this year?", collection: ["Online", "In-Person", "Venmo"], required: true %>
      </div>
    </div>
<!--     <div class="row">
      <div class="large-5 columns">
        <%= f.input :policy_confirmation, label: ("I have downloaded the #{link_to 'waivers', "http://d3krmhcqjnbsob.cloudfront.net/retreat/campsite_release.pdf"} read the #{link_to "campsite rules", "http://d3krmhcqjnbsob.cloudfront.net/retreat/retreat_rules_and_information.pdf"} and agree to follow them.").html_safe, required: true %>
      </div>
    </div> -->
    <br />
    <div class="row">
      <div class="large-12 columns">
        <%= f.button :submit, 'Sign Me Up!' %>
      </div>
    </div>
  <% end %>
</div>