<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sermon.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @sermon.notes %>
</p>

<p>
  <strong>Audio:</strong>
  <audio src='<%= @sermon.audio %>' controls='controls'>
    Your browser does not support the <code>audio</code> element.
  </audio>
</p>

<%= link_to 'Edit', edit_sermon_path(@sermon) %> |
<%= link_to 'Back', sermons_path %>
