<div class="row">
  <div class="large-8 columns">
    <%= simple_form_for(@payment) do |f| %>
      <% if @payment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

          <ul>
          <% @payment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="large-4 columns">
          <%= f.label :amount %><br>
          <%= f.text_field :amount %>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns event-form-edit-datetime">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
      </div>
      <div class="row">
        <div class="large-5 columns">
          <div class="actions">
            <%= f.submit %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
