<% provide(:title, 'Payments') %>
<div class="row">
  <%= render 'layouts/account_menu' %>
  <div class="large-9 columns">
    <fieldset class="fields">
      <div class="large-12 columns">
        <h1>Payments</h1>

        <table>
          <thead>
            <tr>
              <th>Payment</th>
              <th>Amount</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @unpaid.each do |payment| %>
              <tr>
                <td><%= payment.description %></td>
                <td><%= number_to_currency(payment.amount.to_f / 100) %></td>
                <td>
                  <%= form_tag charge_payment_path(payment), method: 'POST', remote: true %>
                    <script
                      src="https://checkout.stripe.com/checkout.js"
                      data-key=<%= ENV['STRIPE_PUBLIC_KEY'] %> # TODO: change to env stripe key
                      <%# data-image="/square-image.png" %> # TODO: change to lighthouse icon
                      data-name="TMCYF"
                      class="stripe-button"
                      data-email="<%= current_user.email %>"
                      data-description="<%= payment.description %>"
                      data-amount="<%= payment.amount %>">
                    </script>
                  </form>
                </td>
              </tr>
            <% end %>
            <% @paid.each do |payment| %>
              <tr>
                <td><%= payment.description %></td>
                <td><%= number_to_currency(payment.amount.to_f / 100) %></td>
                <td>Paid!</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </fieldset>
  </div>
</div>

