<h1>Payments</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unpaid.each do |payment| %>
      <tr>
        <td><%= payment.description %></td>
        <td><%= payment.amount %></td>
        <td>
          <form action='charge' method='POST'> 
            <script 
              src="https://checkout.stripe.com/checkout.js"
              data-key="pk_test_kBic0iWCskLu6CgVYFZhotCz" # TODO: change to env stripe key
              <%# data-image="/square-image.png" %> # TODO: change to lighthouse icon
              data-name="TMCYF"
              class="stripe-button"
              data-email="<%= current_user.email %>"
              data-description="<%= payment.description %>"
              data-amount="<%= payment.amount %>">
            </script>
          </form>
        </td>
      </tr>
    <% @paid.each do |payment| %>
      <tr>
        <td><%= payment.description %></td>
        <td><%= payment.amount %></td>
        <td>Paid!</td>
      </tr>
    <% end %>
  </tbody>
</table>

