<% provide(:title, 'Payments') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
	  <fieldset class="fields">
	    <div class="large-12 columns">
	      <h2>Payments</h2>
        <h3>Credit Card:</h3>
          <div id="default_card">
            <% if @default_card %>
              <%= @default_card.type + " " + @default_card.last4 %>
            <% else %>
              <p>Add a credit card below!</p>
            <% end %>
          </div>
        <%= render 'credit_cards/form' %>
	      <table>
				  <thead>
				    <tr>
				      <th>Payment</th>
				      <th>Amount</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
            <!-- TODO: maybe we can make this something like render "event_payment_form" -->
            <% if @unpaid_events %>
              <% @unpaid_events.each do |unpaid_event| %>
                <tr>
                  <td><%= unpaid_event.title %></td>
                  <td><%= number_to_currency(unpaid_event.cost) %></td>
                  <!-- TODO: This Pay Now button can be a post request to the payments controller, with remote: true, and we can return some javascript to display loading and stripe-success -->
                  <td><%= button_to "Pay Now", event_payments_path(unpaid_event), class: "button btn-pay", method: :post %></td>
                </tr>
              <% end %>
            <% end %>
				  </tbody>
				</table>
	     </div>
	  </fieldset>
	</div>
</div>
