<% provide(:title, 'Payments') %>
<div class="row">
	<%= render 'layouts/account_menu' %>
	<div class="large-9 columns">
	  <fieldset class="fields">
	    <div class="large-12 columns">
	      <h2>Payments</h2>
        <h3>Credit Cards</h3>
	      <table>
				  <thead>
				    <tr>
				      <th>Type</th>
				      <th>Last 4 Digits</th>
				    </tr>
				  </thead>
          <% if @usable_cards %>
            <% @usable_cards.each do |card| %>
              <tr>
                <td><%= card.type %></td>
                <td><%= card.last4 %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <%= render 'credit_cards/form' %>
	      <table>
				  <thead>
				    <tr>
				      <th>Payment</th>
				      <th>Amount</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
            <% if @events %>
              <% @events.each do |event| %>
                <tr>
                  <td><%= event.title %></td>
                  <td><%= event.cost %></td>
                  <td><%= button_to "Pay Now", new_event_payment_path(event), class: "btn btn-info", method: :get %></td>
                </tr>
              <% end %>
            <% end %>
				  </tbody>
				</table>
	     </div>
	  </fieldset>
	</div>
</div>
