<%= form_for(@payment, url: event_payments_path(@payment.event)) do |f| %>
  <article>
    <label class="amount">
      <span><%= @payment.event.cost %></span>
    </label>
  </article>
  <%= f.hidden_field :event %>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>"
          data-amount="<%= @payment.event.cost %>"
          data-description="TMCYF payment for <%= @payment.event.title %>"></script>
<% end %>
