<!-- About Menu -->
  <div class="three columns sidebar">
    <div class="getstarted">Get Started</div>
      <ul class="side-navs vertical navi">
        <li><%= link_to(about_biblestudy_path) do %><span>Biblestudy</span><% end %></li>
        <li><%= link_to(about_tribes_path) do %><span>Tribes</span><% end %></li>
        <li><%= link_to(about_service_path) do %><span>Service Events</span><% end %></li>
        <li><%= link_to(about_socials_path) do %><span>Social Events</span><% end %></li>
        <li><%= link_to(about_officers_path) do %><span>Officers</span><% end %></li>
        <li><%= link_to(about_contact_path) do %><span>Contact</span><% end %></li>
      </ul>
  </div>
<!-- About Menu End -->