<nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name"><%= link_to(root_path) do %><div class="logo"></div><% end %></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><%= active_link_to "About", about_path %></li>
        <li class="divider"></li>
        <li><%= active_link_to "Events", events_path %></li>
        <li class="divider"></li>
        <li><%= active_link_to "Sermons", sermons_path %></li>
        <li class="divider"></li>
        <% if user_signed_in? %>
        <li><%= active_link_to "Account", account_path %></li>
        <% else %>
        <li><%= active_link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </section>
</nav>