<!DOCTYPE html>
<html>
<head>
  <title>Trinity Marthoma Church Youth Fellowship</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Open+Sans:400,300", :media => "all" %>
  <%= stylesheet_link_tag  "http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css", 
  																																										 :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/menu' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
