<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=7" />

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="Passion for God, Passion for Others!">
  	<%= stylesheet_link_tag    "application" %>
    <style type="text/css">body { border-top: 7px solid #c73f3f }</style>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="large-12 columns">
        <%= render 'layouts/flash_messages', flash: flash %>
      </div>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_include_tag "https://checkout.stripe.com/v2/checkout.js" %>
  </body>
</html>
